body {
  font-family: Courier;
  font-size: 16px;
  word-wrap: break-word;
  line-height: normal;
  #wrapper {
    width: 100%;
    padding-bottom: 100px;

    h1 {
      font-family: serif;
      font-size: 32px;
      font-weight: bold;
      width: auto;
      margin: 22px 0px;
      padding: 0px 10px;
      &#title {
        display: inline-block;
      }
    }

    h3 {
      font-size: 18px;
      font-weight: bold;
      margin: 18px 0px;
    }

    ul {
      list-style-type: disc;
      margin: 16px 0px;
      padding-left: 40px;
      li {
        margin: 0 0 8px;
      }
    }

    table {
      width: 100%;
      border-spacing: 0px;

      th {
        border-collapse: collapse;
        border-bottom: 1px black solid;
        color: #0000EE;
        font-size: 14px;
        font-weight: normal;
        text-decoration: underline;
        padding-left: 5px;
        padding-bottom: 10px;
        text-align: left;
        letter-spacing: 1px;

        &.modified, &.size {
          display: none;
        }

        &#left {
          width: 10%;
        }

        &#name {
          width: 25%;
        }

        &#modified {
          width: 20%;
        }

        &#size {
          width: 10%;
        }

        &#description {
          width: 25%;
        }

        &#right {
          width: 10%;
        }
      }

      tr {
        &#last {
          border-bottom: 1px black solid;
        }
        &.active {
          background: rgb(240,240,240);
        }

        &.about, &.technologies, &.portfolio, &.find-me {
          display: none;
          div {
            width: 80%;
            margin: 0 auto;
            &.about {
              box-sizing: border-box;
            }
          }
          div.td-inner-container {
            display: none;
          }
        }

        &.technologies {
          font-size: 0;
          ul {
            font-size: 16px;
          }
        }
      }

      td {
        padding: 5px;
        vertical-align: top;

        &.modified, &.size {
          display: none;
        }

        &.table-spacer {
          display: none;
        }
        &.table-spacer-secondary-break {
          display: none;
        }

        div.about {
          width: 100%;
          // width: 325px;
          padding: 10px;
          padding-left: 25px;
          display: inline-block;
        }

        div.headshot {
          background-image: url("../assets/headshot.jpg");
          background-size: cover;
          background-position: center;
          width: 245px;
          height: 245px;
          display: inline-block;
          float: left;
          margin: 10px;
          margin-left: 25px;
        }

        div.list-one, div.list-two, div.list-three, div.list-four, div.list-five  {
          vertical-align: top;
          display: inline-block;
          ul {
            margin: 0px;
          }
        }

        div.portfolio {
          width: 100%;
          // width: 855px;
          font-size: 0;
          padding: 10px 0;
          margin: 0 auto;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;

          div.project_container {
            display: block;
            // display: inline-block;
            height: 200px;
            width: 245px;
            padding: 20px 20px 15px 20px;
            border-bottom: 5px solid white;
            margin: 0 auto;
            &:hover {
              border-bottom: 5px solid rgba(0,0,238,.7);
              transition: all .5s;
              -webkit-transition: all .2s;
            }
            &.active {
              border-bottom: 5px solid rgba(0,0,238,.7);
            }

            .project_logo {
              position: relative;
              height: 200px;
              width: 245px;
              background-size: cover;
              background-position: center;
              background-color: rgb(240,240,240);
            }
            div.project_info {
              display: none;
            }
          }
        }

        div.project_info_display {
          box-sizing: border-box;
          position: relative;
          // height: 175px;
          width: 100%;
          // width: 815px;
          padding: 5px 20px 10px 20px;
          background: rgb(240,240,240);
          font-size: 16px;
          p {
            margin: 18px 0px;
          }
        }
      }
    }

    a {
      color: #0000EE;
      font-weight: lighter;
      &:hover {
        text-decoration: underline;
        color: rgb(50,50,50);
      }
    }
  }

  .hidden {
    display: none;
  }
}

@media screen and (min-width: 580px) {
  body {
    #wrapper {
      table {
        th, td {
          &.modified, &.size {
            display: table-cell;
          }
          &.table-spacer {
            display: table-cell;
          }
          div.technologies, div.find-me {
            width: 100%;
          }
          div.portfolio {
            width: 580px;
            // width: 855px;
            font-size: 0;
            padding: 10px 0;
            margin: 0 auto;

            div.project_container {
              display: inline-block;
              margin: 0;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  body {
    #wrapper {
      table {
        tr{
          &.about {
            td {
              #about-wrapper {
                width: 100%;
                .about {
                  width: 300px;
                }
              }
            }
          }
        }
        td {
          div.technologies {
            div.list-one, div.list-two, div.list-three  {
              width: 33%;

              ul {
                margin: 16px 0px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 920px) {
  body {
    #wrapper {
      table {
        th, td {
          div.portfolio {
            width: 855px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1080px) {
  body {
    #wrapper {
      table {
        th, td {
          &.table-spacer-secondary-break {
            display: table-cell;
          }
        }
      }
    }
  }
}
