h1 {
  font-family: serif;
  width: 650px;
}

body {
  font-family: Courier;
}

table {
  width: 100%;
  border-spacing: 0px;
}

#wrapper {
  width: 100%;
}

th {
  border-collapse: collapse;
  border-bottom: 1px black solid;
  color: #0000EE;
  font-size: 14px;
  font-weight: normal;
  text-decoration: underline;
  padding-bottom: 10px;
  text-align: left;
  letter-spacing: 1px;

}

td {
  padding: 5px;
}

#left {
  width: 10%;
}

#name {
  width: 30%;
}

#modified {
  width: 20%;
}

#size {
  width: 10%;
}

#description {
  width: 30%;
}

#last td {
  border-bottom: 1px black solid;
}

.hidden {
  display: none;
}

tr.active {
  background: rgb(240,240,240);
}

tr.about {
  display: none
}

tr.technologies {
  display: none;
}

tr.portfolio {
  display: none;
}

tr.find-me {
  display: none;
}

div.about {
  width: 325px;
  padding: 10px;
  padding-left: 25px;
  display: inline-block;
}
div.headshot {
  background-image: url("../assets/headshot.jpg");
  background-size: cover;
  width: 245px;
  height: 245px;
  display: inline-block;
  float: left;
  margin: 10px;
  margin-left: 25px;
}
div.list-one {
  width: 150px;
  float: left;
}

div.list-two {
  width: 150px;
  float: left;
}

div.list-three {
  width: 150px;
  float: left;
}

div.list-four {
  width: 150px;
  float: left;
}

div.portfolio {
  width: 855px;
  font-size: 0;
}

div.project_container {
  display: inline-block;
  height: 200px;
  width: 245px;
  padding: 20px 20px 15px 20px;
  border-bottom: 5px solid white;
}

div.project_container:hover {
  border-bottom: 5px solid rgba(0,0,238,.8);
}

div.project_container.active {
  border-bottom: 5px solid rgba(0,0,238,.8);
}

div.project_logo {
  position: relative;
  height: 200px;
  width: 245px;
}

div.project_logo img {
  position: absolute;
  top: 0;
  left: 0;
  height: 200px;
  width: 245px;
}

div.project_info {
  display: none;
}

div.project_info_display {
  position: relative;
  height: 175px;
  width: 815px;
  padding: 5px 20px 10px 20px;
  background: rgb(240,240,240);
  font-size: 16px;
}

h3 a {
  text-decoration: none;
  color: black;
}

h3 a:hover {
  text-decoration: underline;
  color: #0000EE;
}