h1 {
  font-family: serif;
  width: auto;
  width: 650px;
}

body {
  font-family: Courier;
  word-wrap: break-word;
}

table {
  width: 100%;
  border-spacing: 0px;
}

a {
  color: #0000EE;
  font-weight: lighter;
}

a:hover {
  text-decoration: underline;
  color: rgb(50,50,50);
}

#wrapper {
  width: 100%;
  padding-bottom: 100px;
}

th {
  border-collapse: collapse;
  border-bottom: 1px black solid;
  color: #0000EE;
  font-size: 14px;
  font-weight: normal;
  text-decoration: underline;
  padding-bottom: 10px;
  text-align: left;
  letter-spacing: 1px;

}

td {
  padding: 5px;
}

#left {
  width: 10%;
}

#name {
  width: 25%;
}

#modified {
  width: 20%;
}

#size {
  width: 10%;
}

#description {
  width: 25%;
}

#right {
  width: 10%;
}

#last td {
  border-bottom: 1px black solid;
}

.hidden {
  display: none;
}

tr.active {
  background: rgb(240,240,240);
}

tr.about {
  display: none
}

tr.technologies {
  display: none;
}

tr.portfolio {
  display: none;
}

tr.find-me {
  display: none;
}

div.about {
  width: 325px;
  padding: 10px;
  padding-left: 25px;
  display: inline-block;
}
div.headshot {
  background-image: url("../assets/stacked.jpg");
  background-size: cover;
  background-position: center;
  width: 245px;
  height: 245px;
  display: inline-block;
  float: left;
  margin: 10px;
  margin-left: 25px;
}
div.list-one {
  width: 150px;
  float: left;
}

div.list-two {
  width: 150px;
  float: left;
}

div.list-three {
  width: 150px;
  float: left;
}

div.list-four {
  width: 150px;
  float: left;
}
div.list-five {
  width: 150px;
  float: left;
}

div.portfolio {
  width: 855px;
  font-size: 0;
  padding: 10px 0;
  margin: 0 auto;
}

div.project_container {
  display: inline-block;
  height: 200px;
  width: 245px;
  padding: 20px 20px 15px 20px;
  border-bottom: 5px solid white;
}

div.project_container:hover {
  border-bottom: 5px solid rgba(0,0,238,.7);
  transition: all .5s;
  -webkit-transition: all .2s;
}

div.project_container.active {
  border-bottom: 5px solid rgba(0,0,238,.7);
}

div.project_logo {
  position: relative;
  height: 200px;
  width: 245px;
}

div.project_logo img {
  position: absolute;
  top: 0;
  left: 0;
  height: 200px;
  width: 245px;
}

div.project_info {
  display: none;
}

div.project_info_display {
  position: relative;
  height: 175px;
  width: 815px;
  padding: 5px 20px 10px 20px;
  background: rgb(240,240,240);
  font-size: 16px;
}

@media (max-width:920px){

  div.portfolio {
    width: 570px;
  }

  div.project_info_display {
    width: 530px;
  }

}

@media (max-width:620px){

  h1#title {
    /*width: 464px;*/
  }

  div.portfolio {
    width: 285px;
  }

  div.project_info_display {
    width: 245px;
    height: 250px;
  }

}
