---
---

<footer class="mt-8 text-xs text-gray-500 flex items-center">
  <span
    title='Not really! It might be closer to "Nginx/1.27.2 (Linux) Node.js/20.18.0 Server at github.com Port 443" in reality.'
    class="cursor-pointer"
  >
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-4 h-4 mr-2 inline"><circle cx="12" cy="12" r="10"/><path d="M12 16v-4"/><path d="M12 8h.01"/></svg>
  </span>
  <span>Apache/2.2.0 (Win32) PHP/5.1.2 Server at localhost Port 80</span>
</footer>
