---
---

<div class="mb-4">
  <a href="/" class="text-blue-600 hover:underline flex items-center">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-4 h-4 mr-1"><path d="m18 15-6-6-6 6"/></svg>
    Parent Directory
  </a>
</div>
